<section class="footer-section">
    <div class="signature">
        <div class="logo" (click)="navigation.goToRef('#home')">
            <div class="background">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <div class="firstname">Björn</div>
            <div class="lastname">Augustin</div>
        </div>

        <p>Web Developer</p>
        <p>Bengerstorf Germany</p>
    </div>
    <div class="copyright">
        <p>&#169; Björn Augustin</p>
    </div>
    <div class="nav-container">
        <nav>
            <ul>
                <li><a href="https://www.github.com/BjoernAugustin/">Github</a></li>
                <li><a
                        href="https://www.linkedin.com/in/bj%C3%B6rn-augustin-leuchtturm1917?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
                </li>
                <li><a href="mailto: b.augustin@hotmail.com">Email</a></li>
                <li><a href="imprint">Imprint</a></li>
            </ul>
        </nav>
    </div>

</section>