@import './../../styles.scss';
@import './../../shared/logo.scss';

.footer-section {
    box-sizing: border-box;
    padding: 72px 112px 64px 112px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;

    .signature {
        grid-column: 1;
        grid-row: 1;
        @include dFlex(space-between, flex-start);
        flex-direction: column;

        p {
            font-family: Karla;
            font-size: 16px;
            color: $fontWhite;
            margin-top: 8px;
        }
    }

    .copyright {
        @include dFlex();
        font-family: Fira Code;
        font-size: 18px;
        color: $primary;
        grid-column: 2;
        grid-row: 1;
    }

    .nav-container {
        @include dFlex(flex-end, center);
        grid-column: 3;
        grid-row: 1;
    }

    nav {
        @include dFlex(space-between, flex-start);
        flex-direction: column;

        a {
            font-family: Karla;
            font-size: 16px;
            color: $fontWhite;
            margin-top: 8px;

            &:hover {
                color: $primary;
            }
        }

        ul li {
            position: relative;
            list-style-type: none;
            margin-top: 8px;
        }

        ul li:hover {
            list-style-type: disc;
            color: $primary;
        }
    }
}

@media (max-width: 1200px) {
    .footer-section {
        padding: 72px 32px 64px 32px;
    }
}

@media (max-width: 900px) {
    .footer-section {
        grid-template-columns: 50% 50%;
        grid-template-rows: 70% 30%;
    
        .signature {
            grid-column: 1;
            grid-row: 1;
        }
    
        .copyright {
            grid-column: 1 / span 2;
            grid-row: 2;
            margin-top: 24px;
        }
    
        .nav-container {
            grid-column: 2;
            grid-row: 1;
        }
    }
}