<section id="about" class="about-section">
    <div class="image-container">
        <img class="background-img" src="./../../assets/images/stripes_background.svg" alt="">
        <img class="portrait-img" src="./../../assets/images/me_default.png" alt="">
    </div>

    <div class="text-container">
        <h5>{{ translate.aboutMe[translate.languageIndex].WhoIAm }}</h5>
        <div class="content-container">
            <h2>{{ translate.aboutMe[translate.languageIndex].AboutMe }}</h2>
            <p>{{ translate.aboutMe[translate.languageIndex].text }}</p>
            <div class="bullet-container">
                <div class="bullet-point">
                    <img class="icon" src="./../../assets/icons/location_default.svg" alt="">
                    <p style="opacity: 0.8">{{ translate.aboutMe[translate.languageIndex].bullet1 }}</p>
                </div>
                <div class="bullet-point">
                    <img class="icon" src="./../../assets/icons/cognition_default.svg" alt="">
                    <p style="opacity: 0.8">{{ translate.aboutMe[translate.languageIndex].bullet2 }}</p>
                </div>
                <div class="bullet-point">
                    <img class="icon" src="./../../assets/icons/new_releases_default.svg" alt="">
                    <p style="opacity: 0.8">{{ translate.aboutMe[translate.languageIndex].bullet3 }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>