<div class="navmenu">
    <div class="menu-container">
        <ul>
            <li><a (click)="menu.closeMenu()" href="#about">{{ translate.atf[translate.languageIndex].AboutMe }}</a></li>
            <li><a (click)="menu.closeMenu()" href="#skills">{{ translate.atf[translate.languageIndex].Skills }}</a></li>
            <li><a (click)="menu.closeMenu()" href="#projects">{{ translate.atf[translate.languageIndex].Projects }}</a></li>
        </ul>
        <div (click)="translate.langSwitch()" class="language-switch">
            <span
                [ngClass]="{'language-active': translate.langEng == true, 'language-inactive': translate.langEng == false}">
                EN</span>
            <span
                [ngClass]="{'language-active': translate.langDeu == true, 'language-inactive': translate.langDeu == false}">
                DE</span>
        </div>
    </div>
</div>